{% extends 'layout.twig' %}


{% block content %}

<p>Cuenta creada exitosamente. Se ha enviado un correo a su mail.</p>
<a href="{{dirpath}}home/" class="btn btn-info" role="button">Aceptar</a>
{% endblock %}