
<!DOCTYPE html>
<html lang="es">

<head>


	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>
		Una Gauchada
	</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--  -->


	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!--  -->
	<link rel="stylesheet" type="text/css" href="http://localhost/Una-gauchada/application/assets/styles/css/layout.css">
	<link rel="stylesheet" type="text/css" href="http://localhost/Una-gauchada/application/assets/styles/css/btnHeader.css">



	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>

<body>
	<header >
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="thumb pull-left">
						<a href="http://localhost/Una-gauchada/index.php/home/"><img src="http://localhost/Una-gauchada/application/assets/images/logo.png" class="pull-left" alt="logo"></a>
					</div>
					<a href="http://localhost/Una-gauchada/index.php/home/" class="navbar-brand pull-right titulo ">Una gauchada</a>
				</div>

			</div>
		</nav>

	</header>
	<section class="main container">

		<div class="container menuLog">
			<div class="jumbotron">
				<h1 class="display-3">404 not found!</h1>
				<p class="lead">No te preocupes podes ir al incio en el siguiente link.</p>
				<p class="lead">STAFF Una Gauchada</p>
				<hr class="my-4">
				<p class="lead">

					<a class="btn btn-primary btn-lg" href="http://localhost/Una-gauchada/index.php/home/" role="button">Inicio</a>
				</p>
			</div>
		</div>
	</section>

	<footer >
		<div class="container-fluid footer-cont">
			<div class="container">
				<div class="row footer">
					<div class="col-xs-6">
						<p>G24</p>
					</div>
					<div class="col-xs-6"><ul class="list-inline text-right">
						<li><a href="http://localhost/Una-gauchada/index.php/home/" title="">Inicio</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</footer>

</body>

</html>
