{% extends 'layout.twig' %}


{% block content %}

<p>Favor agregado correctamente</p>
<a href="{{dirpath}}crearFavor/crear" class="btn btn-info" role="button">Agregar otro favor</a>
<a href="{{dirpath}}home/" class="btn btn-info" role="button">Ir a incio</a>
<a href="{{ dirpath }}favor/verMisGauchadas/" class="btn btn-info" role="button">Ver mis favores</a>
{% endblock %}