<div class="row footer">
	<div class="col-xs-6">
		<p>G24</p>
	</div>
	<div class="col-xs-6"><ul class="list-inline text-right">
		<li><a href="{{ dirpath }}home/" title="">Inicio</a></li>
		{# <li><a href="" title="">Ventas</a></li> #}
		{# <li><a href="" title="contacto">Contacto</a></li> #}
		</ul>
  	</div>

</div>
