<div class="row footer">
	<div class="col-xs-6">
		<p>G24</p>
	</div>
	<div class="col-xs-6"><ul class="list-inline text-right">
		<li><a href="?/login/logout/" title="">Inicio</a></li>
		<li><a href="" title="">ventas</a></li>
		<li><a href="" title="contacto">contacto</a></li>
		</ul>
  	</div>

</div>
