{% extends 'layout.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ path }}assets/styles/css/registrar.css">
{% endblock %}

{% block content %}
	<div class="migas-de-pan">
		<ol class="breadcrumb">
				<li><a href="{{ dirpath }}home/">inicio</a></li>
				<li>Compra Credito</li>
		</ol>
	</div>
	<!-- end breadcrum -->
	<div class="container menuLog">
		<h3 class="h3-formulario">Formulario de compra</h3>
		<hr>
		<form>
			<label class="input-group datos-formulario">Ingresa los datos de la tarjeta:</label>
			<div class="form-group has-feedback">
				<div class="input-group input-texto">
					<input type="text" class="form-control texto" placeholder="Cantidad de créditos" maxlength="3" name="cantidad" id="cantidad" required>
				</div>
			</div>
			<div class="form-group has-feedback">
				<div class="input-group input-texto">
					<input type="text" class="form-control texto" placeholder="Número de tarjeta" maxlength="10" name="numeroTarteta" id="numeroTarjeta" required>
				</div>
			</div>
			<div class="form-group has-feedback">
				<div class="input-group input-texto">
					<input type="text" class="form-control texto" placeholder="Clave" maxlength="4" name="clave" id="clave" required>
				</div>
			</div>
		</form>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Confirmar</a>
			<a class="btn btn-danger btn-lg" href="{{ dirpath }}home/" role="button">Cancelar</a>
		</p>
	</div>
{% endblock %}