<nav class="navbar navbar-inverse">
	  	<div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="thumb">
				<a href="#"><img src="{{ path }}/assets/images/logo.png" class="pull-left img-responsive " alt="logo"></a>
			</div>
			<a href="#" class="navbar-brand">Una gauchada</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav navbar-right ">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
			</ul>
	    </div>
	  	</div>
	</nav>