<nav class="navbar navbar-inverse">
	  	<div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="thumb pull-left">
				<a href="?home/"><img src="{{path}}assets/images/logo.png" class="pull-left" alt="logo"></a>
			</div>
			<a href="?home/" class="navbar-brand pull-right">Una gauchada</a>
	    </div>
	    {# logo end #}
	     <div class="collapse navbar-collapse " id="myNavbar" >
	      	<ul class="nav navbar-nav navbar-right dropdown">
	      		{% if tipo == 1  %}
				{#  opciones del administrador #}
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="#">Estadisticas</a></button></li>
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="#">Another case</a></button></li>
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="#">Another case2</a></button></li>

	      		{% endif %}