{% extends 'layout.twig' %}

{% block header %}

				<li>
					<button class="btn btn-link bdropdown-toggle btn-header" type="button" id="menut" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ nombre }} <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menut">
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver perfil</a></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Crear gauchada</a></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="?/comprarCredito/mostrarFormulario/">Comprar creditos</a></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Configuracion</a></li>
				      <li role="presentation" class="divider"></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sobre nosotros</a></li>
				    </ul>
				</li>
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="?/login/logout">Salir</a></button></li>
			</ul>
	    </div>

	  </div>
	</nav>
{% endblock %}

{% block content %}
	{% include 'sectionPrincipal.twig' %}

{% endblock %}