
	<div class="row main">

			<div class="migas-de-pan">
				<ol class="breadcrumb">
					<li><a href="#">inicio</a></li>
					<li><a href="#">categoria</a></li>
					<li><a href="#">favor</a></li>
				</ol>
			</div>
			<!-- end breadcrum -->
			<!--  aside de busqueda -->
			<div class="busqueda col-md-3">
				<h2>Busqueda</h2>
			    <form class="navbar-form navbar-left" role="search">
			  		<div class="form-group">
			    		<input type="text" class="form-control" placeholder="Search">
			  		</div>
			  		<button type="submit" class="btn btn-default">Submit</button>
				</form>

				<h2>Filtrado por</h2>
				<div class="list-group">
					<a href="#" class="list-group-item ">
						<h4 class="list-group-item-heading">Categoria</h4>
						<a href="#"><p class="list-group-item-text">Transporte</p></a>
						<a href="#"><p class="list-group-item-text">Cuidado</p></a>
						<a href="#"><p class="list-group-item-text">Mano de obra</p></a>
					</a>
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Tiempo</h4>
						<a href="#"><p class="list-group-item-text">largo</p></a>
						<a href="#"><p class="list-group-item-text">medio</p></a>
						<a href="#"><p class="list-group-item-text">corto</p></a>
					</a>
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Ubicacion</h4>
						<a href="#"><p class="list-group-item-text">la plata</p></a>
						<a href="#"><p class="list-group-item-text">Villa elisa</p></a>
					</a>
				</div>
			</div>
			<!-- begin post -->
			<section class="posts col-md-9">
				<article class="post clearfix">
	             	<a href="#" class="thumb pull-left"><img class="img-thumbnail" src="http://localhost/catedra/application/assets/images/logo.png" alt="favor"></a>
	             	<h2 class="post-title"><a href="#">primer gauchada</a></h2>
	             	<p><span class="post-fecha">24 de abril de 2016</span> por <span  class="post-autor"><a href="#">Usuario 1</a></span></p>
	             	<p class="post-contenido text-justify">
	                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum inventore beatae, <a href="	"></a>expedita tenetur doloremque consequatur aliquid voluptates magnam labore accusamus, recusandae ipsam architecto eos ex. Voluptate deleniti ipsa doloribus.
	             	</p> 
	             	<div class="contenedor-botones">
	             		<a href="#" class="btn btn-primary ">Leer mas </a>
	             		<a href="#" class="btn btn-success">comentarios <span class="badge">20</span></a>
	             	</div>
	            </article>
	            <article class="post  clearfix">
	             	<a href="#" class="thumb pull-left"><img class="img-thumbnail" src="http://localhost/catedra/application/assets/images/logo.png" alt="favor"></a>
	             	<h2 class="post-title"><a href="#">Segunda Gauchada</a></h2>
	             	<p><span class="post-fecha">23 de abril de 2016</span> por <span  class="post-autor"><a href="#">Usuario 6</a></span></p>
	             	<p class="post-contenido text-justify">
	                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum inventore beatae, <a href="	"></a>expedita tenetur doloremque consequatur aliquid voluptates magnam labore accusamus, recusandae ipsam architecto eos ex. Voluptate deleniti ipsa doloribus.
	             	</p> 
	             	<div class="contenedor-botones">
	             		<a href="#" class="btn btn-primary ">Leer mas </a>
	             		<a href="#" class="btn btn-success">comentarios <span class="badge">20</span></a>
	             	</div>
	            </article>
	            <article class="post clearfix">
	             	<a href="#" class="thumb pull-left"><img class="img-thumbnail" src="http://localhost/catedra/application/assets/images/logo.png" alt="favor"></a>
	             	<h2 class="post-title"><a href="#">Tercer gauchada</a></h2>
	             	<p><span class="post-fecha">22 de abril de 2016</span> por <span  class="post-autor"><a href="#">Usuario 7</a></span></p>
	             	<p class="post-contenido text-justify">
	                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum inventore beatae, <a href="	"></a>expedita tenetur doloremque consequatur aliquid voluptates magnam labore accusamus, recusandae ipsam architecto eos ex. Voluptate deleniti ipsa doloribus.
	             	</p> 
	             	<div class="contenedor-botones">
	             		<a href="#" class="btn btn-primary ">Leer mas </a>
	             		<a href="#" class="btn btn-success">comentarios <span class="badge">20</span></a>
	             	</div>
	            </article>
		</section>
	</div>