body {
    background-color: #D0D0D0;
    /* color de fondo  principal*/
    font-family: 'Roboto', sans-serif;

}


a,a:hover{
        text-decoration: none;

}
textarea{
    resize: none;
}
.navbar-header > .titulo {
    color: black;
}
.navbar {
    background-color: #F4912F;
    /* color del nav header */
}

.menuLog {
    padding-top: 1em;
    height: 500px;
    background-color: #D2D1D1;
    /* color del modal login */
}

.footer-cont {
    padding-bottom: 1.5em;
    background-color: #F4912F;
    /* color del footer */
}

.footer-cont p {
    margin-top: 0.5em;
}

.footer-cont a {
    color: #332020;
}

.footer-cont ul {
    margin-top: 0.5em;
}

.thumb {
    width: 20%;
}

.thumb img {
    width: 100%;
    background-color: #FFFFFF;
    /* color del fondo del logo  */
}


/* aside */

.busqueda {
    background-color: white;
     /* color del aside */
}

.busqueda > .display{
    display: none;
}


/*  POST */
section{

}
.posts{
    background-color: white;
}
.main {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post {
    /* background-color: #9A9A9A; */
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.post .post-title a {
    color: #333;
}

.post .thumb {
    margin-right: 15px;
    width: 20%;
}

.post .thumb img {
    width: 100%;
}