.texto { 
	height: 35px;
	font-size: 20px;
}

.input-texto {
	width: 30%;
}

.datos-formulario {
	height: 35px;
	font-size: 25px;
	font-family: "Calibri Light";
}

.input-nombre {
	float: left;
}

.h3-formulario {
	font-weight: bold;
	font-family: "Calibri Light";
	font-size: 40px;
}

/* .input-dia {
	float: left;
}

.input-mes {
	float: left;
}

.fecha {
	width: 10%;
}
 */
.menuLog{
	padding-left: 10px;
}