.borde-favor {
    border: 1px double;
    background: #F4912F;
    padding: 0;
    margin: 0;
}

.favor {
    margin: 10px;
}

.foto-favor {
    width: 150px;
    height: 150px;
    background: #fff;
    float: left;
    margin-top: 4px;
    border: 1px solid;
}

.idFavor {
    font-weight: bold;
    font-size: 40px;
    margin-top: -4px;
    margin-left: 155px;
}

.tituloFavor {
    font-size: 20px;
    margin-top: -22px;
    margin-left: 155px;
}

.ubicacionFavor, .fec_limFavor, .descripcionFavor, .id_usuarioFavor, .postulantes {
	margin-left: 1px;
	font-size: 15px;
	margin-top: -9px;
}


/* foto carrusel */

.carousel-inner>.item>img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* foto carrusel */

.carousel-inner>.item>img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* form de comentar */

.comentar {
    background-color: #FB326;
    padding-bottom: 1px;
}


/* cajita de todos los comentarios */

.comentarios {
    padding-left: 1em;
    padding-right: 1em;
}


/* cada comentario */

.borde-comentario {
    border-top: 1px solid;
    border-bottom: 1px solid;
}


/* respuesta cajita dentro del panel */

.respuesta {
    /* background-color: #91B2DB; */
    margin-left: 2em;
}